[submodule "deps/array"]
	path = deps/array
	url = git://github.com/mcilloni/array
[submodule "deps/list"]
	path = deps/list
	url = git://github.com/mcilloni/list
[submodule "deps/treemap"]
	path = deps/treemap
	url = git://github.com/mcilloni/treemap
